
			<div class="container-fluid">
 				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <a class="navbar-brand" href="#">
				       Metachi
				      </a>
				    </div>
				  </div>
				</nav>

			</div>

			<div class="container" ng-controller="IndexCtrl">

					<div style="padding:10px">	Search :
				 	  	 <input type="text" ng-model="searchText"></thead></div>
				
				 <table class="table  table-bordered" style="width:700px;">
				 
				      <tr>
				        <th>Firstname <a ng-click="order('person.firstName')" class="{{sortStatusFname}}"></a></th>
				        <th>Lastname  <a ng-click="order('person.lastName')" class="{{sortStatusLname}}"></a></th>
				        <th>Sex  </th>
				        <th>Age  <a ng-click="order('person.age')" class="{{sortStatusAge}}"></a></th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-show="items.length" ng-repeat="perso in items =(people  | orderBy:predicate : reverse | filter:searchText)">
				        <td>{{perso.person.firstName}}</td>
				        <td>{{perso.person.lastName}}</td>
				        <td>{{perso.person.sex}}</td>
				        <td>{{perso.person.age}}</td>
				      </tr>
				      
			    <tr ng-show="!items.length"><td colspan="4" align="center">No values found !.</td></tr>
				    </tbody>
	
				  </table>
			</div>

